<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pratos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-card color="light">
      <img  src="../../assets/salmao.webp" />
      <ion-card-header>
        <ion-card-title>Salmão Grelhado com Salada </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Aqui sua experiência é elevada as alturas no assunto se alimentar bem .
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <img  src="../../assets/frangoSalada.webp" />
      <ion-card-header>
        <ion-card-title>Frango Grelhado com Salada </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Qualidade de vida na sua alimentação é o que mais importa pra nós.
      </ion-card-content>
    </ion-card>
    
  
</ion-content>
