<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Incluir prato</ion-title>
    <ion-button slot="start" (click)="voltar()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Incluir prato</ion-title>
      <ion-button slot="end" (click)="voltar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-input [(ngModel)]="produto.prato" placeholder="Prato"></ion-input>
  <ion-input [(ngModel)]="produto.bebida" placeholder="Bebida"></ion-input>
  <ion-input [(ngModel)]="produto.nome" placeholder="Nome colaborador"></ion-input>
  <ion-input [(ngModel)]="produto.valor" placeholder="Preço do produto"></ion-input>
  
  <ion-button (click)="incluir()">Incluir Produto</ion-button>

</ion-content>